<%- include('../../includes/header')-%>
        <div id="wrapper" class="wrapper" >
            <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row clearfix">
                                    <%if (district.length >0){ %>
                                        <div class="col-md-3">
                                            <label for="district">বাছুন:</label>
                                                <select id="district" name="district">
                                                    <option value="">অঞ্চল বাছুন</option>
                                                    <% district.forEach(function(row){ %>
                                                        <option value="<%= row.id %>"><%= row.area %></option>
                                                    <% }) %>
                                                </select>
                                        </div>
                                    <% } %>
                                    <div class="col-md-3">
                                        <!-- Button -->                                        
                                        <div>
                                        <input type="submit" id="submit" name="submit" value="রিপোর্ট দেখুন" class="btn btn-primary">   
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                

                        <div class="table-responsive" id="output"></div>


                        <div id="output"></div>
        <!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
                    </div>
                </div>
            </div>
        </div>


   
<%- include('../../includes/footer')-%>
<script>
        
    $(document).ready(function(){
        
      $('.dropdown a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
</script>

<script type="text/javascript">
   
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#tblCustomers')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 650
                    }]
                };
                pdfMake.createPdf(docDefinition).download("farmer-details.pdf");
            }
        });
    });


    $("#wrapper").load( "no url rn",function() {
        
        var district = $('#district').val();
        $.ajax({
            type: "POST",
            url: "/pd/progressUploadFilter",
            data: {district:district},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();

            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $('#submit').on("click",function () {
        var district = $('#district').val();
        $.ajax({
            type: "POST",
            url: "/pd/progressUploadFilter",
            data: {district:district},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $(document).ready(function() {
        $('#tblCustomers').DataTable();
    } );

    

</script>