<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>ফসলের নাম</th>
        <th>ব্লকের নাম</th>
        <th>তারিখ</th>
        <th>সময়</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row,index) { %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.crop %></td>
                <td><%= row.block %></td>
                <td><%= row.date %></td>
                <td><%= row.time %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্রমিক নং</th>
            <th>ফসলের নাম</th>
            <th>ব্লকের নাম</th>
            <th>তারিখ</th>
            <th>সময়</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>