<%- include('../../includes/header')-%>
        <div id="wrapper" class="wrapper" >
            <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                        </div>
                        <!-- <div class="row mb-2">
                            <div class="col-md-12">
                                <a href="/upazilla/noaForm" class="btn btn-success btn-group-sm ">প্রশিক্ষণপ্রাপ্ত কৃষকের তথ্য ফর্ম</a>
                            </div>

                        </div> -->

                        <div class="table-responsive" id="output">
                            <%if (upazillas.length >0){ %>
                                <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                                
                                <tbody>
                                        <% upazillas.forEach(function(row,index) { %>
                                        <tr>
                                            <th>ক্রমিক নং</th>
                                        <td><%= index+1 %></td>
                                        <th>উপজেলার নাম</th>
                                        <td><%= row.uname %></td><td >
                                            <th >কৃষক প্রশিক্ষণ কেন্দ্র/কৃষক সেবা কেন্দ্র</th>
                                        <% noas.forEach(function(noa) { %>
                                        <%if (noa.upazilla_id === row.id){ %>                                            
                                        <%= noa.center %>|
                                        <% } %>
                                        <% }) %>
                                        </td>
                                    <td>
                                        <% noas.forEach(function(noa) { %>
                                            <th>কার্যাদেশ দেয়ার তারিখ</th>
                                            <%if (noa.upazilla_id === row.id){ %>                                            
                                                <%= noa.karjadeshDate %>|
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            <% noas.forEach(function(noa) { %>
                                                <th>কার্যাদেশ প্রাপ্ত ব্যক্তি/প্রতিষ্ঠানের নাম</th>
                                                <%if (noa.upazilla_id === row.id){ %>                                            
                                                    <%= noa.karjadeshName %>|
                                                    <% } %>
                                                <% }) %>
                                            </td>
                                            <td>
                                                <% noas.forEach(function(noa) { %>
                                                    <th>অনুমোদিত দরপত্রে গৃহীত মূল্য/চুক্তিমূল্য</th>
                                                    <%if (noa.upazilla_id === row.id){ %>                                            
                                                     <%= noa.value %>|
                                                        <% } %>
                                                    <% }) %>
                                                </td>
                                                <td>
                                                    <% noas.forEach(function(noa) { %>
                                                        <th>কাজের অগ্রগতি</th>

                                                        <%if (noa.upazilla_id === row.id){ %>                                            
                                                            <%= noa.progress %>|
                                                            <% } %>
                                                        <% }) %>
                                                </td>    
                                                <td>
                                                        <% noas.forEach(function(noa) { %>
                                                            <th>কত দিনে সম্পন্ন হবে</th>

                                                            <%if (noa.upazilla_id === row.id){ %>                                            
                                                                <%= noa.time %>|
                                                                <% } %>
                                                            <% }) %>
                                                </td>


                                        </tr>



                                    <% }) %>
                                </tbody>
                            </table>
                            <% }else{ %>
                                <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                                    <thead>
                                    <tr>
                                        <th>ক্রমিক নং</th>
                                        <th>কৃষক প্রশিক্ষণ কেন্দ্র/কৃষক সেবা কেন্দ্র:</th>
                                        <th>কার্যাদেশ দেয়ার তারিখ</th>
                                        <th>কার্যাদেশ প্রাপ্ত ব্যক্তি/প্রতিষ্ঠানের নাম</th>
                                        <th>অনুমোদিত দরপত্রে গৃহীত মূল্য/চুক্তিমূল্য</th>
                                        <th>কাজের অগ্রগতি</th>
                                        <th>কত দিনে সম্পন্ন হবে</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% records.forEach(function(row){ %>
                                        <tr>
                                            <td colspan="10">No data Found</td>
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>

                        <input type="button" id="btnExport" value="Download PDF" />

                        <div id="output"></div>
        <!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
                    </div>
                </div>
            </div>
        </div>


   
<%- include('../../includes/footer')-%>
